{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <h2 class="page-title">Update User</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" value="{{ u.username }}">
        <input type="password" name="password" value="{{ u.password }}">
        <input type="email" name="email" value="{{ u.email }}">
        <input type="text" name="role" value="{{ u.role }}">

        <button type="submit">Update User</button>
    </form>

</div>

{% endblock %}