{% extends 'base.html' %}

{% block content %}

<div class="form-box">

    <h2 class="page-title">Delete Question</h2>

    <div class="delete-card">

        <p class="warning-text">
            ⚠ Are you sure you want to delete this question?
        </p>

        <h3 class="question-text">
            {{ q.qtext }}
        </h3>

        <div class="action-box">

            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger">
                    Yes, Delete
                </button>

            </form>

            <a href="/examapp/show-questions/" class="btn">
                Cancel
            </a>

        </div>

    </div>

</div>

{% endblock %}